@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.draw-stroke {
    animation-name: draw;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: 1;
    stroke-dashoffset: 800;
    stroke-dasharray: 800;
}

.delay0 {
    animation-delay: 0.5s;
}

.delay1 {
    animation-delay: 1s;
}

.delay2 {
    animation-delay: 1.3s;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
        transform-origin: center center;
    }
    100% {
        transform: rotateZ(180deg);
        transform-origin: center center;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideUp {
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}