.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
    #subtitle {
        font-size: 1.5rem !important;
    }
  }
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
  
.jumbotron p:last-child {
   margin-bottom: 0;
}
  
.jumbotron-heading {
  font-weight: 300;
}
  
.jumbotron .container {
  max-width: 40rem;
}

.lang {
  cursor: pointer;
  position: relative; 
  h3 {
    span {
      position: absolute; 
      right: 0;
      top: 0.75rem;
    }
  }
  .bar {
    height: 10px;
    opacity: .8;
    margin-left: 15px;
    div {
      height: 10px; 
      left: 0;
      width: 100%;
      animation: progress 0.5s linear;
    }
  }
}

.lang:last-child {
  padding-bottom: 0 !important;
  margin-bottom: -5rem !important;
}

.list-group {

  .list-group-item {
    img {
      width: 2vw;
      height: 2vw;
    }
  }  
}

footer {
  #backtop {
    cursor: pointer; 
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
  margin-left: 15px;
  margin-right: 15px;
}
